/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    margin: 0;
}

.navbar {
    background-color: #343a40;
    color: #d04d4d;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 30px; /* Increase font size */
    margin-bottom: 10px; /* Add some space below the heading */
    color: #333;
    margin-left: 25px; /* Set the color to a dark shade */
}


.inbox-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
    background-color: #e2f0f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-content {
    font-size: 16px;
}

.new-message-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.new-message-btn:hover {
    background-color: #218838;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

.send-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #0056b3;
}
